.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding:0px 40px;
    border-bottom: 1px solid red;
    position: sticky;
    top: 0;
     border-bottom: 1px solid #e5e7eb;
     
    z-index: 1000;
    box-shadow: 0 1px 0 rgba(0,0,0,0.08);
}
.nav a{
    margin: 12px;
    text-decoration: none;
    color: #3a3a3a;
}
.nav a:hover {
  color: #0056d2;
}
.login-btn{
    padding: 6px 12px;
    cursor: pointer;
}